{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}
 
{% extends "::base.html.twig" %}
 
{% block title %}
  {{ parent() }} - Expense Manager
{% endblock %}
 
{% block body %}
  
  <div id="expense-content">
      <div id="balance-container">
          <div id="balance-container-left">
          </div>
          <div id="balance-container-right">
          </div>    
      </div>
      <div id="list-container">
      </div>    
  </div>
  
{% endblock %}