{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block welcome1 %}

<div class="links-page">
	<div class="links-container" class="container">
	
    	<p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>

	</div>
</div>
    
{% endblock  %}
