{# src/Clc/UserBundle/Resources/views/Registration/checkEmail.htmltwig #}

{% extends "ClcUserBundle::welcome.html.twig" %}

{% block facebook %}

	<div id="confirmation-message-container">
		<p>A confirmation email has been sent. You must click on the link in the email to activate your account
		and then login in the top banner</p>
	
		<div id="ok-button">
			<a class="btn btn-success btn-mini" href="{{ path('clc_welcome') }}">OK</a>
		</div>
	</div>

{% endblock %}