{# src/Clc/UserBundle/Resources/views/Registration/checkEmail.htmltwig #}

{% extends "ClcUserBundle::welcome.html.twig" %}

{% block registerBox %}

	<div id="confirmation-message-container">

		<p>A confirmation email has been sent</p>
		<p>You must click on the link in the email to activate your account and then login in the top banner login form</p>

		<div id="ok-button">
			<a class="btn btn-success" href="{{ path('clc_welcome') }}">OK</a>
		</div>

	</div>

{% endblock %}