{% if colocs == null %}

<p>If you received an invitation via email, the name of the flatshare is in it</p>

{% else %}

	{% for coloc in colocs %}

	<div id="search-coloc-box">
		<p id="p1">{{ coloc.name}} - {{ coloc.city }} (currently {{ coloc.users |length }} flatmates)</p>
		<p id="p2"><a href="{{ path('clc_dashboard_join_coloc', {'name' : coloc.name}) }}" class="btn btn-success">join this flatshare</a></p>
	</div>

	{% endfor %}

{% endif %}