{# src/Clc/DashboardBundle/Resources/views/JoinColoc/finishRegister.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  {{ parent() }} - Finish
{% endblock %}  

{% block body %}
      
<div id="dashboard-content">

  <div class="container-fluid" id="explainations-container">
    <img src="{{ asset('img/explainations.png') }}" height="80%" width="80%" alt="">
  </div>         
</div>

{% endblock %}
     