{# src/Clc/DashboardBundle/Resources/views/JoinColoc/inviteFriends.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block contentBlock %}

    <div id="invite-container">
        <div class="join-box" id="header-box">
        	<h1>Tell your flatmates to join you on Coloc'all !</h1>
    	</div>

        <div class="join-box" id="invitations-box">

            <p>Your flatmates will receive an email inviting them to register/login to Coloc'all and communicate them the name of the Flatshare you just created <b>({{ app.user.coloc.name }})</b>.
            You can also tell them directly the name of the flatshare.</p>

        	<div id="invitation-container">

        		{% for invitation in invitations %}

        		<p>An email was sent to <b>{{ invitation.email }}</b></p>

        		{% endfor %}

        	</div>

        	<div>
            	{% render 'ClcColocBundle:Invitation:inviteFlatmates' %}
        	</div>

        	<div id="continue-button">
        		<a class="btn btn-warning" href="{{ path('clc_dashboard_finish_register') }}">Validate and continue</a>
        	</div>

        </div>
    </div>

{% endblock %}