{# src/Clc/DashboardBundle/Resources/views/JoinColoc/inviteFriends.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block contentBlock %}

    <div id="invite-container">
        <div class="join-box" id="header-box">
        	<h1>Tell your flatmates to join you on Coloc'all !</h1>
    	</div>

        <div class="join-box" id="invitations-box">

            <h3>Your flatmates will receive an email inviting them to register on Coloc'all and join you in the flatshare you just created</h3>

        	<div id="invitation-container">

        		{% for invitation in invitations %}

        		<p>{{ invitation.email }}</p>

        		{% endfor %}

        	</div>

        	<div>
            	{% render 'ClcColocBundle:Invitation:inviteFlatmates' %}
        	</div>

        	<div id="continue-button">
        		<a class="btn btn-warning" href="{{ path('clc_dashboard_finish_register') }}">Validate and continue</a>
        	</div>

        </div>
    </div>

{% endblock %}