{# src/Clc/DashboardBundle/Resources/views/JoinColoc/inviteFriends.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block contentBlock %}

    <div id="invite-container">
        <div class="join-box" id="header-box">
        	<h3>Tell your flatmates to join you on Coloc'all !</h3>
    	</div>

        <div class="join-box" id="invitations-box">

            <p>Invite your flatmates to join you, send them an invitation email that will contain a link they need to follow to register and join the flatshare</p>

        	<div id="invitation-container">

        		{% for invitation in invitations %}

        		<p>An email was sent to <b>{{ invitation.email }}</b></p>

        		{% endfor %}

        	</div>

        	<div>
            	{% render 'ClcColocBundle:Invitation:inviteFlatmates' %}
        	</div>

        	<div id="continue-button">
        		<a class="btn btn-warning" href="{{ path('clc_dashboard_finish_register') }}">Validate and continue</a>
        	</div>

        </div>
    </div>

{% endblock %}