{# src/Clc/DashboardBundle/Resources/views/JoinColoc/createcoloc.html.twig #}

{% extends "::frame.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/join-coloc.css') }}" type="text/css" />
{% endblock %}   
    
{% block mainbox %}
    
    <div id="join-coloc-content">
    
        <div class="container"> 
            {% block contentBlock %} 
            {% endblock %}
        </div>
        
    </div>    
        
{% endblock %}