{# src/Clc/DashboardBundle/Resources/views/JoinColoc/noInvitation.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block contentBlock %}

	<div class="join-box" id="header-box">
    	<p>Hello {{ app.user.nickname }} you do not have any invitation to join a flatshare</p>
    	
	</div>

	<div id="create-a-flatshare">
		<p>Wait for an <b>invitation</b> or <b>create</b> a flatshare right now !</p>
		<a class="btn btn-large btn-success" href="{{ path('clc_dashboard_create_flatshare') }}">Create a Flatshare</a>
	</div>

{% endblock %}