{# src/Clc/DashboardBundle/Resources/views/JoinColoc/noInvitation.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block contentBlock %}

	<div class="span9 offset1 join-box" id="welcome-create-box">
    	<h3>Welcome <b>{{ app.user.nickname }}</b>, in order to use Coloc'all you need to register your flatshare</h3>

    	<div id="create-flatshare-button">
			<a class="btn btn-large btn-success" href="{{ path('clc_dashboard_create_flatshare') }}">Register my flatshare on Coloc'all</a>
		</div>

		<p>ATTENTION : if one of your flatmates already registered your flatshare, ask him to send you an invitation e-mail and then login through the link you received</p>
		<p>session id {{ app.session.get('invitation_id')}}</p>
	</div>

{% endblock %}