{# src/Clc/DashboardBundle/Resources/views/JoinColoc/noInvitation.html.twig #}

{% extends 'ClcDashboardBundle:JoinColoc:joincoloc.html.twig' %}

{% block content %}

    {% block headerBlock %}
        <p>Hello <b>{{ app.user.nickname }}</b> you do not have any invitation to join a flatshare right now</p>
        <p>Wait for an <b>invitation</b> or <b>create</b> a flatshare right now !</p>
    {% endblock %}
    
    {% block secondBlock %}
        <div class="span8 offset2 join-box" id="form-box">

            {% render 'ClcColocBundle:Coloc:new' %}

        </div>
    {% endblock %}
        
{% endblock %}