{# app/Resources/views/floatingToolbar.html.twig#}

<div id="floating-toolbar-container">  
  <div id="floating-toolbar">
      <p>Quick Add:<p>
      <ul class="floating-toolbar-features">
          <li><a href="#addexpensemodal" data-toggle="modal"><div id="quick-link"><i id="icon" class="icon-plus"></i>Expense</div></a></li>
          <li><a href="#addtodomodal" data-toggle="modal"><div id="quick-link"><i class="icon-plus"></i>To-do</div></a></li>
          <li><a href="#additemmodal" data-toggle="modal" class="last-a"><div id="quick-link" class="quick-link-last"><i class="icon-plus"></i>Shopping Item</div></a></li>
      </ul>          
  </div>
</div>