{# app/Resources/views/floatingToolbar.html.twig#}

<div id="floating-toolbar-container">  
  <div id="floating-toolbar">
      <p>Quick Add:<p>
      <ul class="floating-toolbar-features">
          <li><button href="#addexpensemodal" data-toggle="modal"><div id="p"><i id="icon" class="icon-plus"></i>Expense</div></button></li>
          <li><button href="#addtodomodal" data-toggle="modal"><div id="p"><i class="icon-plus"></i>To-do</div></button></li>
          <li><button href="#additemmodal" data-toggle="modal"><div id="p"><i class="icon-plus"></i>Missing Item</div></button></li>
      </ul>          
  </div>
</div>