{# app/Resources/views/default/footer.html.twig #}

<div id="ribbon">
</div>

<div class="container-fluid">
    <ul>
        <li><a href="{{ path('clc_welcome_about') }}" rel="nofollow">About</a></li>
        <li><a href="{{ path('clc_welcome_about') }}" rel="nofollow">Newsletter</a></li>
        <li><a href="{{ path('clc_welcome_investors') }}" rel="nofollow">Investors</a></li>
        <li><a href="{{ path('clc_welcome_media') }}" rel="nofollow">Media</a></li>
    </ul>
</div>