{# src/Clc/DashboardBundle/Resources/views/default/profile.html.twig #}

    {% extends "::base.html.twig" %}



    {% block title %}
      {{ parent() }} - Profile
    {% endblock %}

    {% block body %}
      
<div id="profile-page-content">
      
      
<div class="profile-container">
	<section id="profile-content">
			<h1>Double_Jay</h1>
                        
                        <div id="profile-picture">
                            <img src="{{ asset('img/profile-pic.png') }}" height="65px" width="65px" margin="auto" alt="">
                        </div>
                        
			<div>
                            <div class="details">
                            <i class="icon-user"></i> <p id="static-details">Name</p><p>Jules Marcilhacy</p> 
                            </div>
                            <div class="details">             
                                <i class="icon-globe icon-2x"></i><p id="static-details">Nationality</p><p>French</p>
                                </div>
                                <div class="details">
                                <i class="icon-gift"></i><p id="static-details">Birth Date</p><p>18/10/89</p>
                                </div>
                                <div class="details">
                                <i class="icon-comment"></i><p id="static-details">Phone Number</p><p>+33 6 76 32 62 88</p>
                                </div>
                                <div class="details">
                                <i class="icon-envelope"></i><p id="static-details">E-mail</p><p>jules.marcilhacy@gmail.com</p>
                                </div>
                                <div class="details">
                                <i class="icon-heart"></i><p id="static-details">Passions</p><p>I like Football, Kite surf, Skiing and Going out</p>
                                </div>
			</div>
			
			
		<div class="profile-footer ">
		
                  <div class="btn-group">
                        <a class="btn" href="#">Edit Profile Picture</a>
                        <button class="btn">Edit Profile Information</button>
                  </div>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->


      </div>


    {% endblock body %}  