{# src/Clc/Dashboard/resources/views/default/requestpaybackmodal.html.twig #}

<!DOCTYPE html>

<div class="modal hide fade" id="requestpaybackmodal" area-hidden="true">

    <div class="modal-header">
        <h3>Payback request</h3>
    </div>

    <div class="modal-body">
        <p>Are you sure you want to request a payback for the following balance ?</p>
        <p>You: -28€</p><br>
        <p>Mathilde: +123€€</p><br>
        <p>Josse: -87€</p><br>
        <p>Jack: -8€</p><br>
        <button class="btn btn-success">Yes</button>
        <button class="btn" data-dismiss="modal" area-hidden="true">No</button>
    </div>
    
</div>