{# app/Resources/views/frame.html.twig #}
 
{# On étend notre layout à frame #}
{% extends "::frame.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/login-links.css') }}" type="text/css" />
{% endblock %}

{% block mainbox %}
    
    <section id="welcome1">
    	<div class="container">
	    	{% block welcome1 %}
	    	{% endblock %}
		</div>
	</section>

	<section id="welcome2">
		<div id="welcome2-shaded">
	    	{% block welcome2 %}
	    	{% endblock %}
		</div>
	</section>

	<footer>
    	{% include ":default:footer.html.twig" %}
    </footer>

{% endblock %}