{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block welcome %}
<div class="links-page">

<div class="links-container" class="container">

<h1>About Coloc'all</h1>
<p>Coloc'all started with an idea from 2 students in French engineering schools who met during their bachelor degree. After having lived in shared appartments in different countries they realised that a simple and clear app could solve much more problems than the mere paper sheet they used to keep track of their expenses and to-dos. Motivated by their will to do things they decided to create it: Coloc'all was born.</p>

<h2>What does Coloc'all mean ?</h2>

<p>In French, a "coloc" is both a shared housing (colocation) and a flatmate (colocataire). Coloc'all means we want everybody to prefer living in a shared flat than alone, and Coloc'all is here to help that. Because when it works well, an experience in a shared flat is a thing we wish everyone to live once</p>

<h2>The founders</h2>

<div class="founder-box">
	<h3>Jules Marcilhacy</h3>
	<p>Back-end</p>
	<p>jules@colocall.co</p>
</div>	

<div class="founder-box">
	<h3>Arnaud Drizard</h3>
	<p>Front-end</p>
	<p>arnaud@colocall.co</p>
</div>

</div>

{% endblock %}