{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}About Coloc'all - Coloc'all wants to simplify life in flatshares, we help you with expenses, to-dos and lists, and much more to come.{% endblock %}

{% block welcome1 %}

<div class="links-container">

	<h1>About Coloc'all</h1>
	<p>Coloc'all started with an idea from 2 students in French engineering schools who met during their bachelor degree. After having lived in shared appartments in different countries they realised that a simple and clear app could solve much more problems than the mere paper sheet they used to keep track of their expenses and to-dos. Motivated by their will to do things they decided to create it: Coloc'all was born.</p>

	<h2>What does Coloc'all mean ?</h2>

	<p>In French, a "coloc" is both a shared housing (colocation) and a flatmate (colocataire). Coloc'all means we want everybody to prefer living in a shared flat than alone, and Coloc'all is here to help that. Because when it works well, an experience in a shared flat is a thing we wish everyone to live once</p>

	<h2>The founders</h2>

	<div class="founder-box">
		<h3>Jules Marcilhacy</h3>
		<a href="mailto:jules@colocall.co">jules@colocall.co</a>
	</div>	

	<div class="founder-box">
		<h3>Arnaud Drizard</h3>
		<a href="mailto:arnaud@colocall.co">arnaud@colocall.co</a>
	</div>
</div>

{% endblock %}