{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block welcome1 %}
<div class="links-container-how">
	<img src="{{ asset('img/visitor_homepage/How/infographic.jpg') }}" alt="Coloc'all infographic">
</div>

{% endblock %}