{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}Coloc'all - Investors{% endblock %}

{% block welcome1 %}

<div class="links-page">
	<div class="links-container" class="container" style="margin-top: 80px;">

		<h1>Dear Investors,</h1>
		<h3>We will soon need funds to develop. You want to help us or stay tuned ?</br>
		Send us an email to <a href="mailto:contact@colocal.co">contact@colocall.co</a></h4>

	</div>
</div>

{% endblock %}