{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}Coloc'all - Media{% endblock %}

{% block welcome1 %}

<div class="links-page">
	<div class="links-container" class="container">

		<h1>Media</h1>
		
		<div class="newsletter-post">
			<h3>{% trans %}Saturday, April 6th, 2013 - Jules (founder) talks about Coloc'all on French radio BFM Business{% endtrans %}</h3>
			<p>{% trans %}Jules Marcilhacy was invited by Alexandre Lichan to talk about Coloc'all in {% endtrans %}<a href="http://www.bfmtv.com/emission/club-media-rh/">Club Media RH</a>{% trans %} (BFM Business) on April 6th, after he was selected for the finals of Generation Accenture{% endtrans %}</p>
			<div id="bfm-post">
				<p><strong>Interview on BFM</strong>{% trans %}, you can find the podcast {% endtrans %}<a href="http://www.bfmtv.com/grille/bfmbusiness/podcast-radio/12722/">{{ 'here'|trans }}</a>{% trans %}, Jules talks about {% endtrans %}<strong>Coloc'all</strong>{% trans %} starting at 34'00. You will also find an interview of Romain Soubeyran, dean at {% endtrans %}<a href="http://www.mines-paristech.fr">Mines Paristech</a>{% trans %}, engineering school where Jules is graduating this year.{% endtrans %}</p>
				<a href="http://www.bfmtv.com/economie/"><img src="{{ asset('img/Logos/logo-bfm-radio-eco.jpg') }}" height="100px" width="100px" alt="BFM Business logo"></a>
			</div>
			<div id="accenture-post">
				<a href="http://www.mediarh.com/5-accenture.html"><img src="{{ asset('img/Logos/Jules-Accenture.jpg') }}" height="100px" width="100px" alt="Jules Generation Accenture"></a>
				<p><strong>Generation Accenture</strong>{% trans %} is an entrepreneurship competition for students in top French Business and Engineering Schools with a project to defend during a real-condition interview lead by a journalist at BFM{% endtrans %}</p>
			</div>
		</div>

		<h6>{% trans %}If you want to talk about us in any kind of media, feel free to contact us at {% endtrans %}<a href="mailto:contact@colocal.co">contact@colocall.co</a></h6>

	</div>
</div>

{% endblock %}