{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}Coloc'all - Media{% endblock %}

{% block welcome1 %}

<div class="links-page">
	<div class="links-container" class="container">

		<h1>Media</h1>
		
		<div class="newsletter-post">
			<h3>Saturday, April 6th, 2013 - Jules (founder) talks about Coloc'all on French radio BFM Business</h3>
			<p>Jules Marcilhacy was invited by Alexandre Lichan to talk about Coloc'all in <a href="http://www.bfmtv.com/emission/club-media-rh/">Club Media RH</a> (BFM Business) on April 6th, after he was selected for the finals of Generation Accenture</p>
			<div id="bfm-post">
				<p><strong>Interview on BFM</strong>, you can find the podcast <a href="http://www.bfmtv.com/grille/bfmbusiness/podcast-radio/12722/">here</a>, Jules talks about <strong>Coloc'all</strong> starting at 34'00. You will also find an interview of Romain Soubeyran, dean at <a href="http://www.mines-paristech.fr">Mines Paristech</a>, engineering school where Jules is graduating this year.</p>
				<a href="http://www.bfmtv.com/economie/"><img src="{{ asset('img/Logos/logo-bfm-radio-eco.jpg') }}" height="100px" width="100px" alt="BFM Business logo"></a>
			</div>
			<div id="accenture-post">
				<a href="http://www.mediarh.com/5-accenture.html"><img src="{{ asset('img/Logos/Jules-Accenture.jpg') }}" height="100px" width="100px" alt="Jules Generation Accenture"></a>
				<p><strong>Generation Accenture</strong> is an entrepreneurship competition for students in top French Business and Engineering Schools with a project to defend during a real-condition interview lead by a journalist at BFM</p>
			</div>
		</div>

		<h6>If you want to talk about us in any kind of media, feel free to contact us at <a href="mailto:contact@colocal.co">contact@colocall.co</a></h6>

	</div>
</div>

{% endblock %}