{% extends "ClcWelcomeBundle::welcome.html.twig" %}

{% block title %}{% trans %}Register to Coloc'all - start using Coloc'all with your flatmates today, it is free{% endtrans %}{% endblock %}

{% block welcome1 %}

<div class="links-page">
	<div class="links-container" class="container" style="min-width: 500px">

		{% block registerTitle %}<h1>Register to Coloc'all</h1>{% endblock %}
		
		<div class="register-box">
			<div id="email-box">
				<div class="title">
					<h3>Register with your email</h3>
				</div>
				<div id="register-form">
					{% render 'FOSUserBundle:Registration:register' %}
				</div>

	        </div>

	        <div id="facebook-box">
	        	<div class="title">
					<h3>Register with facebook</h3>
				</div>
	        	<div id="facebook-button">
	                {{ facebook_login_button({'autologoutlink': false, 'label': 'Register with facebook'}) }}
	            </div>

	        </div>
		</div>

		<div id="register-footer">
			{% block registerFooter %}
				<p>If you received an invitation, you should register through the link you received in the email</p>
			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}