{# src/Clc/ExpensemanagerBundle/Resources/views/Default/dynamicTable.html.twig #}

{% include "ClcTodosBundle:Default:addtodomodal.html.twig" %}

{% for task in coloc_task %}


   <tr>
     <td id="check"></td>
     <td>{{ task.task }}</td>
     <td>{{ task.owner }}</td>
     <td><i class="icon-time"></i> {{ task.dueDate|date("d/m") }}</td>
     <td id="todo-list-edit-comment-delete">
     <i class="icon-eye-open"></i>
     <i class="icon-edit" href="#addtodomodal" data-toggle="modal"></i>
     <a>
           <i class="icon-trash" href="{{ path('clc_todos_remove', {'id': task.id}) }}" ></i>
         </a>
     </td>
   </tr>
  
  
{% endfor %}