{# src/Clc/DashboardBundle/resources/views/default/edittodomodal.html.twig #}

<div class="modal hide fade" id="addtodomodal" area-hidden="true">

    <div class="modal-header">
        <h3>Edit To-do</h3>
    </div>

    <div class="modal-body">
        
      {#  {% render 'ClcTodosBundle:Todos:edit' with {'id': id} %} #}

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" area-hidden="true">Close</button>
    </div>
    
</div>