/* web/css/Base.css */

root { 
    display: block;
}

/* --- General frame --- */


#pseudocontainer{
    width: 100%;
    min-width: 800px;
}

/* --- Base framework --- */

#leftbox{
    width: 22%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
    
}
#mainbox{
    overflow: hidden;
    min-width: 800px;
    height: 100%;
}
/* --- Floating Toolbar --- */
#floating-toolbar{
    width: 120px;
    background-color: rgb( 60, 35, 16);
    opacity: 0.6;
    position: fixed;
    margin-left: 60px;
    border-radius: 10px 10px 10px 10px;
    float: right;
    box-shadow:inset 0 0 10px #000000;
}

#floating-toolbar ul{
    margin-left: 0px;

}

#floating-toolbar li{
    height: 40px;
    width: 100%;
    border-bottom: 1px dotted rgb(204, 204, 204);
    list-style: none;
    vertical-align: middle;
    padding-top: 15px;
}

#floating-toolbar li:last-child{
    border-bottom: none;
}

#floating-toolbar li a{
    color: white;
}


/* --- Expensemanager Bundle --- */

#expense-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#balance-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#list-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* --- Shoppinglist Bundle --- */

#shoppinglist-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#shoppinglist-table1-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#shoppinglist-table2-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
