/* web/css/Base.css */

root { 
    display: block;
}

/* --- General frame --- */


#pseudocontainer{
    width: 100%;
    min-width: 800px;
}

/* --- Base framework --- */

#leftbox{
    width: 22%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
    
}
#mainbox{
    overflow: hidden;
    min-width: 800px;
    height: 100%;
}
/* --- Floating Toolbar --- */
#floating-toolbar-container{
    height:100%;
    width: 120px;
    float: right;
    display: inline-block;
    margin-right: 30px;
}

#floating-toolbar{
    width: 120px;
    background: none repeat scroll 0% 0% white;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.7s ease 0s;
    opacity: 0.6;
    border-radius: 10px 10px 10px 10px;
    float: right;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.05) inset;
    position: fixed;
    top: 80px;
    
}

#floating-toolbar ul{
    margin-left: 0px;
    

}

#floating-toolbar li{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    list-style: none;
    vertical-align: middle;
    padding-top: 15px;
}

#floating-toolbar li:last-child{
    border-bottom: none;
}

#floating-toolbar li a{
    color: rgb(119, 119, 119);
}

#floating-toolbar button{
    background-color: transparent;
    border: none;
    color: rgb(119, 119, 119);
}


/* --- Expensemanager Bundle --- */

#expense-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#balance-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#list-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* --- Shoppinglist Bundle --- */

#shoppinglist-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#shoppinglist-table1-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#shoppinglist-table2-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
