/* web/css/Base.css */

root { 
    display: block;
}

/* --- General frame --- */


#pseudocontainer{
    width: 100%;
    min-width: 800px;
}

/* --- Base framework --- */

#leftbox{
    width: 22%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
    
}
#mainbox{
    overflow: hidden;
    min-width: 800px;
    height: 800px;
}

/* --- Expensemanager Bundle --- */

#expense-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#balance-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#list-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* --- Todos Bundle --- */

#todos-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#todos-table1-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#todos-table2-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* --- Shoppinglist Bundle --- */

#shoppinglist-content{
    height: 100%;
    width: 100%;
    background-image: url('../img/dashboard/dashboard-bckgd.jpg');
    background-repeat: repeat;
    padding-top: 20px;
}

#shoppinglist-table1-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#shoppinglist-table2-container{
    border: solid 1px;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
