/* 
    Document   : coloc
    Created on : 10 avr. 2013, 15:52:32
    Author     : julesmarcilhacy
    Description:
        Purpose of the stylesheet follows.
*/

#coloc-content{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-height: 500px;
    font-family: 'Oswald-regular';
}

#coloc-left-box{
    display: inline-block;
    width: 48%;
    height: 400px;
    
}

#coloc-right-box{
    display: inline-block;
    float:right;
    width: 48%;
    height: 400px;
}

#coloc-right-top-box{
    height: 58%;
    vertical-align: top;
    border: solid 1px transparent;
}

#coloc-right-bottom-box{
    height: 38%;
    margin-top: 4%;
}

.coloc-box{
    position: relative;
    background: #f9f9f9;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(bottom, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(bottom, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(bottom, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to top, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px #fafafa;
}

.coloc-body{
    padding: 10px;
}

.coloc-body h3{
    font-size: 18px;
    text-align: center;
    margin-top: -8px;
}

.coloc-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(247,249,250);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px #fafafa;
 }

/* --- Left box css --- */

.coloc-body #members-box{
    border: solid 1px;
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1) inset;
    background-color: white;
    border: solid 2px rgba(0,0,0,0.1);
    border-radius: 5px ;
}

#user-box{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
    width: 95%
}

#user-box img{
    vertical-align: middle;
    height: 40px;
    width: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
}

#user-box #user-presentation{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}

/* --- Right bottom box css --- */

.coloc-body h4{
    font-size: 14px;
    text-align: center;
    margin-top: -8px;
}

#coloc-right-bottom-box p{
    display: inline-block;
}

#coloc-right-bottom-box #cross-button{
    display: inline-block;
    font-size: 30px;
}