/* --- Style of the dashboard --- */

root { 
    display: block;
}

body{
    padding-left: 0px;
    padding-right: 0px;
}


/* --- Top box --- */

#dashboard-content{
    background-image: url('../img/dashboard/retina_wood_@2X.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

#welcome-container{
    width: 689px;
    min-width: 689px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#welcome-box{
    height: 60px;
    padding-top: 1%;
    margin-bottom: 10px;
}

#welcome-box h1{   
    text-align: center;
    font-family: 'Oswald-Regular';
    color: #555555;
    text-shadow: 1px 1px 1px #888;
    color: black;
    text-shadow: 0px 1px 0px white;
}

#welcome-overview{
    height:  60%;
    text-align: center;
}

#quicklink-toolbar{
    height: 80px;
    width: 636px;
    margin-left: 18px;;
    margin-right: auto;
    margin-top: 80px;
    display: inline;
}

#quicklink-toolbar button{
    width: 151px;
    margin-left: 8px;
    display: inline;
    vertical-align: top;
    margin-top: 0px;
}

/* --- Bottom box --- */

#overview-container{
    height: 100%;
    width: 684px;
    min-width: 684px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-container{
    height: 239px;
    width: 69%;
}

#expense-dashboard-container{
    width: 689px;
    height: 380px;
    background: url('../img/dashboard/expense.png') no-repeat scroll 0% 0% transparent;
}

#expense-left{
    float: left;
    top: 0px;
    width: 49%;
    height: 100%;
    display: inline-block;
}

#expense-right{
    float: right;
    width: 49%;
    height: 100%;
    display: inline-block;
}

#expense-header{
    height: 90px;
}

#expense-body{
    height: 290px;
}

.ui-accordion-content {
    height: 80px;
}

.expense-upper{
    background: url('../img/dashboard/expense-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
/*    margin-top: 50px;*/
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

/*.expense-left-tag{
    background: url('../img/dashboard/ribbon_left.png') no-repeat scroll 0% 0% transparent;
    width: 7px;
    height: 64px;
    position: relative;
    left: -6px;
    top: 79px;
}*/

.expense-middle-tag{
    background: url('../img/dashboard/new-ribbon.png') no-repeat scroll 0% 0% transparent;
    width: 110%;
    margin-left: -1.5%;
    height: 57px;
    vertical-align: middle;
    padding-top: 7px;
}

.expense-middle-tag h1{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 10px;
    font-family: 'Oswald-Regular';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 30px;
    font-weight: normal;
    vertical-align: middle;
}




/*.expense-right-tag{
    background: url('../img/dashboard/ribbon_right.png') no-repeat scroll 0% 0% transparent;
    width: 14px;
    height: 57px;
    position: relative;
    right: -688px;
    top: 136px;
}*/

.expense-middle{
    background: url('../img/dashboard/expense-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

.expense-lower{
    background: url('../img/dashboard/expense-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 30px;
    width: 100%;
    top: -2px;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

#to-do-dashboard-container{
    display: inline-block;
    width: 319px;
    margin-top: 50px;
    text-align: center;
    float: left;
}
.todo-upper{
    background: url('../img/dashboard/todo-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
    width: 100%;
    position: relative;
}

.todo-middle{
    background: url('../img/dashboard/todo-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 150px;
    width: 100%;
    position: relative;
}

.todo-lower{
    background: url('../img/dashboard/todo-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 70px;
    position: relative;
    top: -2px;
}

.todo-middle-tag{
    background: url('../img/dashboard/new-ribbon.png') no-repeat scroll 0% 0% transparent;
    width: 366px;
    margin-left: -10.5px;
    height: 57px;
    padding-top: 7px;
}

.todo-middle-tag h1{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 10px;
    font-family: 'Oswald-Regular';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 30px;
    font-weight: normal;
    vertical-align: middle;
}

#shopping-dashboard-container{
    display: inline-block;
    width: 319px;
    margin-left: 5%;
    margin-top: 50px;
    text-align: center;
    float: right;
}

.shopping-upper{
    background: url('../img/dashboard/todo-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
    width: 100%;
    position: relative;
}

.shopping-middle{
    background: url('../img/dashboard/todo-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 150px;
    width: 100%;
    position: relative;
}

.shopping-lower{
    background: url('../img/dashboard/todo-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 70px;
    position: relative;
    top: -2px;
}
