/* --- Style of the dashboard --- */

root { 
    display: block;
}

body{
    padding-left: 0px;
    padding-right: 0px;
}


/* --- Top box --- */

#dashboard-content{
    background-image: url('../img/dashboard/retina_wood_@2X.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

#welcome-container{
    width: 689px;
    min-width: 689px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#welcome-box{
    height: 60px;
    padding-top: 1%;
    margin-bottom: 10px;
}

#welcome-box h1{   
    text-align: center;
    font-family: 'Oswald-Regular';
    color: #555555;
    text-shadow: 1px 1px 1px #888;
    color: black;
    text-shadow: 0px 1px 0px white;
}

#welcome-overview{
    height:  60%;
    text-align: center;
}

#quicklink-toolbar{
    height: 80px;
    width: 636px;
    margin-left: 18px;;
    margin-right: auto;
    margin-top: 80px;
    display: inline;
}

#quicklink-toolbar button{
    width: 151px;
    margin-left: 8px;
    display: inline;
    vertical-align: top;
    margin-top: 0px;
}

/* --- Bottom box --- */

#overview-container{
    height: 100%;
    width: 684px;
    min-width: 684px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-container{
    height: 239px;
    width: 69%;
}

#expense-dashboard-container{
    width: 689px;
    height: 380px;
    background: url('../img/dashboard/expense.png') no-repeat scroll 0% 0% transparent;
}

#expense-left{
    float: left;
    top: 0px;
    width: 49%;
    height: 100%;
    display: inline-block;
}

#expense-right{
    float: right;
    width: 49%;
    height: 100%;
    display: inline-block;
}

#expense-header{
    height: 90px;
    padding-top: 20px;
}

#expense-header h1{
    font-family: sonora;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 0.5px 0px #fff, 1.5px 2px 0px rgba(0,0,0,0.15);
}

.expense-header-left{
    text-align: right;;
}

.expense-header-right{
    text-align: left;
}

#expense-body{
    height: 290px;
}

#bar-chart{
    margin-left: 15px;
    margin-top: -80px;
}

.ui-accordion-content {
    height: 80px;
}

.expense-upper{
    background: url('../img/dashboard/expense-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
/*    margin-top: 50px;*/
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

.shopping-upper p i{
    float: right;
    margin-right: 20px;
}

/*.expense-left-tag{
    background: url('../img/dashboard/ribbon_left.png') no-repeat scroll 0% 0% transparent;
    width: 7px;
    height: 64px;
    position: relative;
    left: -6px;
    top: 79px;
}*/

.expense-middle-tag{
    background: url('../img/dashboard/new-ribbon.png') no-repeat scroll 0% 0% transparent;
    width: 110%;
    margin-left: -1.5%;
    height: 57px;
    vertical-align: middle;
    padding-top: 7px;
}

.expense-middle-tag h1{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 10px;
    font-family: 'Oswald-Regular';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 30px;
    font-weight: normal;
    vertical-align: middle;
}




/*.expense-right-tag{
    background: url('../img/dashboard/ribbon_right.png') no-repeat scroll 0% 0% transparent;
    width: 14px;
    height: 57px;
    position: relative;
    right: -688px;
    top: 136px;
}*/

.expense-middle{
    background: url('../img/dashboard/expense-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

.expense-lower{
    background: url('../img/dashboard/expense-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 30px;
    width: 100%;
    top: -2px;
    margin: 0px;
    padding: 0px;
    border: 0px none;

}

#to-do-dashboard-container{
    display: inline-block;
    width: 319px;
    margin-top: 50px;
    text-align: center;
    float: left;
}
.todo-upper{
    background: url('../img/dashboard/todo-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
    width: 100%;
    position: relative;
}

.todo-middle{
    background: url('../img/dashboard/todo-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 150px;
    width: 100%;
    position: relative;
}

.todo-lower{
    background: url('../img/dashboard/todo-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 70px;
    position: relative;
    top: -2px;
}

.todo-middle-tag{
    background: url('../img/dashboard/new-ribbon.png') no-repeat scroll 0% 0% transparent;
    width: 366px;
    margin-left: -10.5px;
    height: 57px;
    padding-top: 7px;
}


.small-dashboard-container{
    display: inline-block;
    width: 319px;
    height: 239px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px ;
    background-color: rgb( 240, 240, 240);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#small-dashboard-container-left{
        float: left;
}

#small-dashboard-container-right{
        float: right;
        margin-left: 5%;
}

.shopping-upper{
    height: 52px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(103, 109, 114), rgb(142, 153, 160)) repeat scroll 0% 0% rgb(142, 153, 160);
    background: url('../img/dashboard/small-dash-bckgd.png') repeat-x scroll 0% 0% transparent;
    border-radius: 10px 10px 0px 0px ;
    vertical-align: middle;
    /*box-shadow:  0px 0px 0px 2px rgb(109, 109, 109), 0px 0px 0px 0.5px rgb(58, 52, 44);*/
    box-shadow: 0px 0px 0px -1px rgb(104, 104, 104), 0px 0px 0px -2px rgb(58, 43, 45);
}


.shopping-upper p{
    height: 100%;
    padding-top: 16px;
    text-align: left;
    margin-left: 15px;
    vertical-align: middle;
    font-family: 'Proxima-Bold';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 25px;
    font-weight: normal;
}


.shopping-lower{
    height: 187px;
    position: relative;
    overflow: scroll;
}

.shopping-lower table tr{
    border-top: 1px solid rgb(221, 221, 221);
}

.shopping-lower table tr td{
    border-top: none;
}


#mini-shopping-list-item{
   width: 100%;
   color: rgb(103, 111, 127);
   font-size: 12px;
   font-style: italic;
   font-family: 'Georgia';
}

#mini-shopping-list-item h3{
   margin: 0px;
   margin-bottom: 5px;
   margin-top: 5px;
   font-size: 15px;
   line-height: 10px;
   font-style: normal;
   color: black;
   font-family: 'Proxima-Regular';
}

#todo-list-edit-comment-delete{
    float: right;
    text-align: right;
    width: 80px;
    height: 100%;
        
}