/* --- Style of the dashboard --- */

root { 
    display: block;
}

body{
    padding-left: 0px;
    padding-right: 0px;
}

#dashboard-content{
    background-image: url('../img/dashboard/retina_wood_@2X.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

#dashboard-title{
    border-top: solid 1px;
    border-bottom: solid 1px;
    height: 63px;
    width: 459px;
    marin-left:auto;
    margin-right: auto;
    text-align: center;
    font-family: 'proxima-regular';
    color:black;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 1px 0.5px 0px #fff, 1.5px 2px 0px rgba(0,0,0,0.15);
    background-image: url('../img/dashboard/dashboard.png');
}

#overview-container{
    height: 100%;
    width: 684px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-container{
    height: 239px;
    width: 69%;
}

/* --- Expense - Box --- */

#expense-dashboard-container{
    width: 689px;
    height: 380px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: url("../img/dashboard/small-dash-bckgd.png") repeat-x scroll 0% 0% rgb(240, 240, 240);
}

#expense-left{
    float: left;
    top: 0px;
    width: 48%;
    height: 300px;
    display: inline-block;
    box-shadow:inset  0px 1px 2px rgba(0, 0, 0, 0.2);   
    background-color: rgb(245, 245, 245);
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#expense-right{
    float: right;
    width: 48%;
    height: 300px;
    display: inline-block;
    box-shadow:inset  0px 1px 2px rgba(0, 0, 0, 0.2);   
    background-color: rgb(245, 245, 245);
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
   
}

#expense-header{
    height: 52px;
    padding-top: 5px;
    background: url("../img/dashboard/small-dash-bckgd.png") repeat-x scroll 0% 0% transparent;
    border-radius: 10px 10px 0px 0px;
}

#expense-header p{
    height: 100%;
    padding-top: 16px;
    text-align: left;
    margin-left: 15px;
    vertical-align: middle;
    font-family: 'Proxima-Bold';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 25px;
    font-weight: normal;
}

#expense-header p i{
    float: right;
    margin-right: 20px;
}

.expense-header-left{
    text-align: right;;
}

.expense-header-right{
    text-align: left;
    margin-bottom: 10px;
}

.expense-subheader{
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -5px;
}

.expense-subheader h1{
    font-family: Georgia;
    color: rgb(236, 106, 66);
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#expense-body{
    height: 290px;
    padding-top: 10px;
}

#bar-chart{
    margin-left: 15px;
    margin-top: -60px;
}

#expense-body table tr{
    border-top: 1px solid rgb(221, 221, 221);
}

#mini-list-cost{     
    border-top: medium none;
    color:rgb(236, 106, 66);
    font-weight: bold;
}

.shopping-upper p i{
    float: right;
    margin-right: 20px;
}

#to-do-dashboard-container{
    display: inline-block;
    width: 319px;
    margin-top: 50px;
    text-align: center;
    float: left;
}
.todo-upper{
    background: url('../img/dashboard/todo-post-upper.png') no-repeat scroll 0% 0% transparent;
    height: 15px;
    width: 100%;
    position: relative;
}

.todo-middle{
    background: url('../img/dashboard/todo-post-middle.png') repeat scroll 0% 0% transparent;
    min-height: 150px;
    width: 100%;
    position: relative;
}

.todo-lower{
    background: url('../img/dashboard/todo-post-lower.png') no-repeat scroll 0% 0% transparent;
    height: 70px;
    position: relative;
    top: -2px;
}

.todo-middle-tag{
    background: url('../img/dashboard/new-ribbon.png') no-repeat scroll 0% 0% transparent;
    width: 366px;
    margin-left: -10.5px;
    height: 57px;
    padding-top: 7px;
}


.small-dashboard-container{
    display: inline-block;
    width: 338px;
    height: 280px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px ;
    background-color: rgb( 240, 240, 240);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#small-dashboard-container-left{
        float: left;
}

#small-dashboard-container-right{
        float: right;
}

.shopping-upper{
    height: 52px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(103, 109, 114), rgb(142, 153, 160)) repeat scroll 0% 0% rgb(142, 153, 160);
    background: url('../img/dashboard/small-dash-bckgd.png') repeat-x scroll 0% 0% transparent;
    border-radius: 10px 10px 0px 0px ;
    vertical-align: middle;
    box-shadow: 0px 0px 0px -1px rgb(104, 104, 104), 0px 0px 0px -2px rgb(58, 43, 45);
}


.shopping-upper p{
    height: 100%;
    padding-top: 16px;
    text-align: left;
    margin-left: 15px;
    vertical-align: middle;
    font-family: 'Proxima-Bold';
    color: white;
    text-shadow: 0px 1px 0px black;
    font-size: 25px;
    font-weight: normal;
}


.shopping-lower{
    height: 220px;
    position: relative;
    overflow: scroll;
}

.shopping-lower table tr{
    border-top: 1px solid rgb(221, 221, 221);
}

.shopping-lower table tr td{
    border-top: none;
}


#mini-shopping-list-item{
   width: 100%;
   color: rgb(103, 111, 127);
   font-size: 12px;
   font-style: italic;
   font-family: 'Georgia';
   border-top: none;
}

#mini-shopping-list-item h3{
   margin: 0px;
   margin-bottom: 5px;
   margin-top: 5px;
   font-size: 15px;
   line-height: 10px;
   font-style: normal;
   color: black;
   font-family: 'Proxima-Regular';
   border-top: none;
}

#todo-list-edit-comment-delete{
    float: right;
    text-align: right;
    width: 80px;
    height: 100%;
    border-top: none;
        
}