/* web/css/footer.css*/

footer {
    background-image: url('../img/visitor_homepage/Background/Business-Model-bckgd.jpg');
    height: 140px;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

footer #ribbon{
    margin-top: -25px;
    width: 100%;   
    height: 14px;
    margin-bottom: 40px;
    background-image: url('../img/visitor_homepage/orange-ribbon.jpg');
    background-repeat: repeat-x;
    box-shadow: 0px 4px 8px #323232;
}

footer li {    
    display: inline-block;
    margin-left: 60px;   
}
footer a:link {
    text-decoration:none;
    color: white;
}
footer a:visited {
    text-decoration:none;
    color: white;
}
footer a:hover {
    text-decoration:none;
    color: #a4a4a4;
}
footer a:active {
    text-decoration:none;
    color: white;
}

