/* web/css/frame.css */

root { 
    display: block;
}


/* --- framework --- */

@font-face { 
    font-family: 'Oswald-Regular';
    src: url('polices/oswald/oswaldregular.ttf') format('truetype');}
@font-face {    
    font-family: 'Oswald-Stencil';
    src: url('polices/oswald/oswaldstencil.ttf') format('truetype');}
@font-face {    
    font-family: 'Oswald-Bold';
    src: url('polices/oswald/oswaldbold.ttf') format('truetype');}
@font-face {    
    font-family: 'Oswald-Light';
    src: url('polices/oswald/oswaldlight.ttf') format('truetype');
}
@font-face { 
    font-family: 'Proxima-Regular';
    src: url('polices/proxima/ProximaNova-Regular.otf') format('truetype');}
@font-face {    
    font-family: 'Proxima-Bold';
    src: url('polices/proxima/ProximaNova-Bold.otf') format('truetype');}
@font-face {    
    font-family: 'Oswald-Bold';
    src: url('polices/oswald/oswaldbold.ttf') format('truetype');}
@font-face {    
    font-family: 'Oswald-Light';
    src: url('polices/oswald/oswaldlight.ttf') format('truetype');
}
@font-face {    
    font-family: 'Sonora';
    src: url('polices/sonora/SonoraProOT-Light.otf') format('truetype');
}