/* 
    Document   : join-coloc
    Created on : 10 avr. 2013, 12:01:17
    Author     : julesmarcilhacy
    Description:
        Purpose of the stylesheet follows.
*/

#join-coloc-content{
    padding-top: 10px;
    min-height: 800px;
    background-image: url('../img/dashboard/retina_wood_@2X.png');
}

/* --- Creation part --- */

.join-box{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 2px 2px 2px grey;
    font-family: 'Oswald-Regular';
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.join-box h1{
    font-size: 24px;
}

/* First page */

.create-or-join{
    vertical-align: top;
    text-align: center;
    font-family: 'Oswald-Regular';  
    background-color: white;
    border-radius: 5px;
    border: solid 2px #cdcdcd;
    min-height: 220px;
    width: 45%;
}
.create-or-join .header{
    background-color: whitesmoke;
    border-top: 1px solid transparent;
    border-bottom: solid 1px #cdcdcd;
    border-radius:  5px 5px 0 0;
    padding-bottom: 5px;
}
.create-or-join h2{
    margin-bottom: 10px;
}
#find-flatshare{
    float: left;
}
#search-coloc{
    margin-top: 40px;
}
#search-coloc form input{
    margin-left: 10px;
}
#find-flatshare input{
    vertical-align: top;
}
#search-coloc-box #p1{
    font-size: 20px;
}
#create-a-flatshare{
    float: right;
    vertical-align: top;
}
#create-a-flatshare .btn{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 14px;
}

/* Creation form */

.coloc-form-label{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}

.footer-buttons{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 40px;
    padding-top: 20px;
}

#back-button{
    float: left;
}
#create-button{
    float: right;
}

/* --- Invite friends part --- */

#invite-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#invitation-container{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    font-family: 'Oswald-Regular';
    font-size: 18px;
}
#invitations-box{
    text-align: left;
}
#invitations-box p{
    margin-left: 10px;
    margin-right: 10px;
    font-family: arial;
    font-size: 14px;
    line-height: 22px;
}
#invite-friends-form{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#friend-email{
    display: inline-block;
    padding-top: 5px;
    margin-left: 5%;
}

#add-friend{
    display: inline-block;
    vertical-align: top;
}

#continue-button{
    text-align: right;
    margin-right: 10px;
}