/* 
    Document   : join-coloc
    Created on : 10 avr. 2013, 12:01:17
    Author     : julesmarcilhacy
    Description:
        Purpose of the stylesheet follows.
*/

/* --- Creation part --- */

#header-box{
}

#form-box{
    border: solid;
}

/* --- Invitation part --- */

