/* --- Style des pages About, Register et How it works --- */

.links-container{
	background-color: white;
	border: solid #e34a25;
	width: 66%;
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.links-container h1{
	text-align: center;
	margin-bottom: 30px;
	color: #e34a25;
}

.links-container h6{
	text-align: center;
}

.links-container h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald-regular';
}

/* --- About --- */

.founder-box{
	display: inline-block;
	width: 30%;
	margin-left: 10%;
	margin-right: 9%;
	text-align: center;
}

.newsletter-container{
	width: 66%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	font-family: arial;
}

.newsletter-container h1{
	font-family: 'Oswald-regular';
	text-align: center;
	margin-bottom: 30px;
	color: #e34a25;
}

.newsletter-post{
	border-left: solid 1px grey;
	border-top: solid 1px grey;
	padding-left: 10px;
	margin-bottom: 30px;
}

.newsletter-post h3{
	font-size: 18px;
	font-family: 'Oswald-regular';
}

#connect-facebook-post p{
	display: inline-block;
	width: 80%;
}
#connect-facebook-post img{
	float: right;
	vertical-align: top;
}

#bfm-post p{
	display: inline-block;
	width: 82%;
}

#bfm-post img{
	float: right;
	vertical-align: top;
}

#accenture-post p{
	display: inline-block;
	width: 82%;
}

#accenture-post img{
	float: left;
	vertical-align: top;
	margin-right: 20px;
}

/* --- Register --- */

#register-form{
	text align: center;
	width: 80%;
	margin-left: 25%;
}

#register-form form{
	margin-left: auto;
	margin-right: auto;
}

#register-form .form-row div{
	display: inline-block;
}

#register-form .form-row .form-label{
	min-width: 30%;
}

.links-container form > #register-button{
	margin-left: 40%;
	vertical-align: top;
}

/* --- How it works --- */

#how-container{
	width: 66%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

#how-container h1{
	font-family: 'Oswald-regular';
	text-align: center;
	margin-bottom: 30px;
	color: #e34a25;
}

#how-container .btn-toolbar{
	text-align: center;
	margin-top: 60px;
}

#how-container > img{
	margin-top: 50px;
}

#how-container h2{
	font-family: 'Oswald-regular';
	margin-top: 30px;
	margin-bottom: 30px;
}

.feature-body{
	padding: 5px;
}

.feature{
	padding-top: 40px;
}

.feature h4{
	text-align: center;
	margin-bottom: 10px;
}

.feature .how-img{
	text-align: center;
}

.feature .how-img img{
	border: solid 1px grey;
	border-radius: 10px;
}

