/* --- Style de la page de login --- */

body{
    background-image: url('../img/visitor_homepage/Background/Overview-bckgd-new.jpg');
    padding-left: 0px;
    padding-right: 0px;
/*    background-size: 1400px 2000px;*/
/*    background-repeat:repeat;*/
}

#mainbox-bckgd{
    background-image: url('../img/visitor_homepage/Background/shaded-background.png');
    background-repeat: repeat-y;
    min-width: 800px; 
}

/* --- block 1 --- */

#signup-box{
    border-top: solid 1px transparent;
    background-image: url('../img/signin_bckgd_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    min-width: 800px;
}

#block1{
    border-top: solid 1px transparent;
    background-image: url('../img/signin_bckgd_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
/*    width: 1280px;
    margin-left: -180px;*/
    margin-top: 1px;
/*    box-shadow: 0px 2px 2px #d59392;*/
}


#container-center-signup{
    height: 100%;
    min-width: 800px;
}

#mainbox{ 
    height: 62%;
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#beta-box{
    height: 40px;
    margin-top: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: #fafafa;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px #fafafa;
    box-shadow: inset 0 0 0 1px #fafafa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Oswald-Regular';
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 10px;
    padding-bottom: 10px;
}

#middle_block1_ext{
    height: 90%;
/*    width: 800px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0.5% 0.5% 0.8% 0.5%;
    background-image: url('../img/visitor_homepage/Background/signin-box-strips.jpg');
}

#middle_block1{
    border: solid rgba(252, 220, 209, .5) 4px;
    height: 99%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


#catchphrase_box{
    font-family: 'Oswald-Regular';
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

#catchphrase1{
    font-size: 46px;
    line-height: 70px;
    font-family: 'Oswald-Bold';
    color: #e34a25;
    text-align: center;
    height: 24%;
    padding-top: 10px;
    padding-left: 6px;
}

#catchphrase2{
    font-size: 34px;
    font-family: 'Oswald-Light';
    text-align: left;
    padding-left: 8px;
    padding-top: 20px;
}

#catchphrase3{
    text-align: center;
    padding-left: 5px;
    padding-top: 10px;
    height: 39%;
}

#catchphrase3 img{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

#catchphrase4{
    font-size: 16px;
    font-family: 'Oswald-Light';
    text-align: center;
    padding-left: 18px;
}

#catchphrase4 p{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

#signin_box{
    display: inline-block;
    height: 100%;
    width: 49%;
    vertical-align: middle;
}

#signin_box p{
    font-family: 'Oswald-Regular';
}

#signin_box_content{
    width: 90%;
    border: solid 1px;
    border-color: rgb(229, 229, 229);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-radius: 10px;
}

#legend{
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 36px;
    height: 50px;
    padding-top: 10px;
    background-color: whitesmoke;
    font-family: 'Oswald-Regular';
}

#register-form{
    height: 130px;
}

#register-form-content{
    height:90px;
}
#signin_box_content label{
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    font-family: 'Oswald-Regular';
}

#signin_box_content input{
    display: inline-block;
    font-family: 'Oswald-Regular';
}

#signin_box_footer{
    height: 50px;
    border: solid 1px;
    border-color: rgb(229, 229, 229);
    border-radius: 0 0 10px 10px;
    background-color: whitesmoke;
    text-align: center;
}

#signin_box_content #register-button{
    margin-top: 6px;
    font-family: 'Oswald-Regular';
    width: 50%;
    background-color: hsl(59, 100%, 47%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdb2", endColorstr="#efeb00");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fffdb2), to(#efeb00));
    background-image: -moz-linear-gradient(top, #fffdb2, #efeb00);
    background-image: -ms-linear-gradient(top, #fffdb2, #efeb00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffdb2), color-stop(100%, #efeb00));
    background-image: -webkit-linear-gradient(top, #fffdb2, #efeb00);
    background-image: -o-linear-gradient(top, #fffdb2, #efeb00);
    background-image: linear-gradient(#fffdb2, #efeb00);
    border-color: #efeb00 #efeb00 hsl(59, 100%, 37.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
    -webkit-font-smoothing: antialiased;
}

#signin_box #or{
    display: inline-block;
    margin-left: 28%;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Oswald-Regular';
}

#signin_box #facebook-button{
    margin-top: 25px;
    float:right;
    margin-right: 28%;
    font-size: 14px;
    font-family: 'Oswald-Regular';
}

#confirmation-message-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
}

#ok-button{
    font-size: 12px;
}

/* --- block 2 --- */

#block2{
 
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#ribbon_container{
    width: 100%;
    height: 13px;
    margin-top: 20px;
    background-image: url('../img/visitor_homepage/orange-ribbon.jpg');
    background-repeat: repeat-x;
    box-shadow: 0px 1px 4px #323232;
}

#ribbon_block2{
    border: solid black 1px;
    width: 100%;
}

#mainbox-body{ 
    height: 68%;
    min-height: 1008px;
    min-width: 768px;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#feature-container{
    height: 350px;
    width: 100%;
    min-width: 724px;
    margin-top:50px;
}

#feature{
    display: inline-block;
    height: 100%;
    width: 25%;
    min-width: 200px;
    margin-left: 5%;
    margin-right: auto;
    text-align: center;
}

#feature h3{
    font-family: 'Oswald-Bold';
    color: #e34a25;
    font-weight: normal;
    margin-top: 50px;
}

#feature p{
    font-size: 16px;
    font-family: 'Oswald-Regular';
}

.lign{
    background: transparent;
    border-color: black;
    border-width: 0 0 1px;
    border-style: groove;
}

#carousel_container{
    height: 400px;
    margin-left: 0px;
}

#caroussel-container-large{  
  margin-left: 0px;  
}

.carousel-inner{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}



.carousel-inner #item_container{
    height: 250px;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
}

.carousel-inner #item_container h3{
    font-family: 'Oswald-Regular';
    color: #e34a25;
    font-weight: normal;
}

.carousel-inner #item_container p{
    font-family: 'Oswald-Light';
}

.carousel-inner #text{
    display: inline-block;
    height: 200px;
    width: 58%;
    vertical-align: top;
    padding-left: 20px;
    font-size: 16px;
}

.carousel-inner #pic{
    display: inline-block;
    height: 200px;
    width: 38%;
    text-align: center;
}

.carousel-control{
    margin-top: -50px;
}

#indicators_container{
    height: 100px;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators li{
    background-color: lightsteelblue;
}

.carousel-indicators .active{
    background-color: #e34a25;
}

#platform_container{
    text-align: center;
    padding-bottom: 20px;
    margin-left: 0px;
}

#platform_pic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100px;
    min-width: 724px;
}

#ribbon_container2{
    width: 100%;   
    height: 16px;
    margin-top: -10px;
    background-image: url('../img/visitor_homepage/ribbon_with_frange.png');
    background-repeat: repeat-x;
    box-shadow: 0px 4px 8px #323232;
}

/* --- block 3 --- */
/*
#business-box{
    
    height: 540px;
    background-image: url('../img/visitor_homepage/Background/Business-Model-bckgd.jpg');
    background-repeat: no-repeat;
    box-shadow: 0px 6px 12px #888;  
}

#block3{

}

#block3_container{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.whitebox{
    background-color: white;
    height: 150px;
}

#trialbox{
    margin-bottom: 30px;
}

#lignboxleft{
    display: inline-block;
    height: 2px;
    width: 40%;   
}

#timebox{
    display: inline-block;
    color: white;
    width: 17%;
    text-align: center;
    font-family: 'Oswald-Regular';
    font-size: 18px;
}

#lignboxright{
    display: inline-block;
    height: 2px;
    width: 40%;
}

#freebox{
    display: inline-block;
    width: 30%;
    margin-top: 30px;
}

#paybox{
    display: inline-block;
    float: right;
    width: 68%;
    margin-top: 30px;
}
*/