/* --- Style de la page de login --- */

body{
    background-image: url('../img/visitor_homepage/Background/Overview-bckgd-new.jpg');
    padding-left: 0px;
    padding-right: 0px;
}

#mainbox-bckgd{
    background-image: url('../img/visitor_homepage/Background/shaded-background.png');
    background-repeat: repeat-y;
    min-width: 800px; 
}

/* --- block 1 --- */

#signup-box{
    border-top: solid 1px transparent;
    background-image: url('../img/signin_bckgd_image.jpg');
    background-repeat: repeat-x;
    height: 540px;
    min-width: 800px;
}

#container-center-signup{
    height: 100%;
    min-width: 800px;
}

#mainbox{ 
    height: 62%;
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#beta-box{
    height: 20px;
    margin-top: 10px;
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    font-family: 'Oswald-Regular';
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 10px;
    padding-bottom: 10px;
}

#middle_block1_ext{
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5% 0.5% 0.8% 0.5%;
    background-image: url('../img/visitor_homepage/Background/signin-box-strips.jpg');
}

#middle_block1{
    border: solid rgba(252, 220, 209, .5) 4px;
    height: 99%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


#catchphrase_box{
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: top;
    font-family: 'Oswald-Regular';
}

#catchphrase1{
    text-align: center;
    padding-top: 10px;
}

#catchphrase1 h1{
    font-size: 50px;
    color: #e34a25;
}    

#catchphrase2{
    text-align: center;
}

#catchphrase2 h2{
    font-size: 32px;
}   

#catchphrase3{
    text-align: center;
    padding-top: 10px;
}

#catchphrase3 img{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 18px;
    margin-bottom: 20px;
}

#catchphrase4{
    font-size: 14px;
    text-align: center;
    padding-left: 18px;
}

#catchphrase4 p{
    display: inline-block;
    margin-left: 22px;
    margin-right: 22px;
}

#signin_box{
    display: inline-block;
    height: 100%;
    width: 39%;
    vertical-align: middle;
    font-family: 'Oswald-Regular';
}

#signin_box_content{
    width: 260px;
    border: solid 1px;
    border-color: rgb(229, 229, 229);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-radius: 10px;
    text-align: center;
}

#legend{
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 30px;
    height: 50px;
    padding-top: 10px;
    background-color: whitesmoke;
}

#remember-block input,label{
    display: inline-block;
    margin: 5px;
}

#_submit{
    margin-top: 10px;
    margin-bottom: -15px;
}

#login-footer{
    text-align: left;
}

.login-footer-link{
    display: inline-block;
}

#login-footer a{
    font-size: 11px;
    font-family: Helvetica, Arial;
}

#not-yet-user{
    margin-left: 2px;
}
/* --- block 2 --- */

#block2{
    font-family: 'Oswald-Regular';
 
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#ribbon_container{
    width: 100%;
    height: 13px;
    margin-top: 20px;
    background-image: url('../img/visitor_homepage/orange-ribbon.jpg');
    background-repeat: repeat-x;
    box-shadow: 0px 1px 4px #323232;
}

#ribbon_block2{
    border: solid black 1px;
    width: 100%;
}

#mainbox-body{ 
    font-family: 'Oswald-Regular';
    height: 68%;
    min-height: 1008px;
    min-width: 768px;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#feature-container{
    height: 350px;
    width: 100%;
    min-width: 724px;
    margin-top:50px;
}

#feature{
    display: inline-block;
    height: 100%;
    width: 25%;
    min-width: 200px;
    margin-left: 5%;
    margin-right: auto;
    text-align: center;
}

#feature h3{
    color: #e34a25;
    margin-top: 50px;
}

#feature p{
    font-size: 16px;
}

.lign{
    background: transparent;
    border-color: black;
    border-width: 0 0 1px;
    border-style: groove;
}

#carousel_container{
    height: 400px;
    margin-left: 0px;
}

#caroussel-container-large{  
  margin-left: 0px;  
}

.carousel-inner{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner #item_container{
    height: 250px;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
}

.carousel-inner #item_container h3{
    color: #e34a25;
    font-weight: normal;
}

.carousel-inner #item_container p{
}

.carousel-inner #text{
    display: inline-block;
    height: 200px;
    width: 58%;
    vertical-align: top;
    padding-left: 20px;
    font-size: 16px;
}

.carousel-inner #pic{
    display: inline-block;
    height: 200px;
    width: 38%;
    text-align: center;
}

.carousel-control{
    margin-top: -50px;
    padding-top: 3px;
    font-family: calibri;
    font-size: 36px;
}

#indicators_container{
    height: 100px;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators li{
    background-color: lightsteelblue;
}

.carousel-indicators .active{
    background-color: #e34a25;
}

#platform_container{
    text-align: center;
    padding-bottom: 20px;
    margin-left: 0px;
}

#platform_pic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100px;
    min-width: 724px;
}

#ribbon_container2{
    width: 100%;   
    height: 16px;
    margin-top: -10px;
    background-image: url('../img/visitor_homepage/ribbon_with_frange.png');
    background-repeat: repeat-x;
    box-shadow: 0px 4px 8px #323232;
}

/* --- block 3 --- */
/*
#business-box{
    
    height: 540px;
    background-image: url('../img/visitor_homepage/Background/Business-Model-bckgd.jpg');
    background-repeat: no-repeat;
    box-shadow: 0px 6px 12px #888;  
}

#block3{

}

#block3_container{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.whitebox{
    background-color: white;
    height: 150px;
}

#trialbox{
    margin-bottom: 30px;
}

#lignboxleft{
    display: inline-block;
    height: 2px;
    width: 40%;   
}

#timebox{
    display: inline-block;
    color: white;
    width: 17%;
    text-align: center;
    font-family: 'Oswald-Regular';
    font-size: 18px;
}

#lignboxright{
    display: inline-block;
    height: 2px;
    width: 40%;
}

#freebox{
    display: inline-block;
    width: 30%;
    margin-top: 30px;
}

#paybox{
    display: inline-block;
    float: right;
    width: 68%;
    margin-top: 30px;
}
*/