/* --- Style des pages About, Register et How it works --- */

.links-container{
	background-color: white;
	border: solid red;
	width: 66%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.links-container h1{
	text-align: center;
	margin-bottom: 30px;
	color: red;
}

.links-container h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald-regular';
}

/* --- About --- */

.founder-box{
	display: inline-block;
	width: 30%;
	margin-left: 10%;
	margin-right: 9%;
	text-align: center;
}

.newsletter-container{
	width: 66%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	font-family: arial;
}

.newsletter-container h1{
	font-family: 'Oswald-regular';
	text-align: center;
	margin-bottom: 30px;
	color: red;
}

.newsletter-post{
	border-left: solid 1px grey;
	border-top: solid 1px grey;
	padding-left: 10px;
	margin-bottom: 30px;
}

.newsletter-post h3{
	font-size: 18px;
	font-family: 'Oswald-regular';
}

#bfm-post p{
	display: inline-block;
	width: 80%;
}

#bfm-post img{
	float: right;
	vertical-align: top;
}

/* --- Register --- */

#register-form{
	text align: center;
	width: 50%;
	margin-left: 25%;
}

#register-form form{
	margin-left: auto;
	margin-right: auto;
}

.links-container form > div > label{
	width: 130px;
}

.links-container form > #register-button{
	margin-left: 200px;
	vertical-align: top;
}

/* --- How it works --- */

#howitworksmodal{
}