/* 
    Document   : navbox
    Created on : 5 mars 2013, 16:53:19
    Author     : arnaudrizard
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*--- NavBox ---*/

#leftbox {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100%;
    min-height: 600px;
    background-image: url('../img/dashboard/left_menu.jpg');
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
    
}

#nav_container1{
    border-bottom: 1px solid rgb(175, 175, 175);
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);*/ 
    height: 46px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, rgb(216, 222, 229), rgb(191, 197, 204)) repeat scroll 0% 0% rgb(37, 155, 219);
    text-align: center;
}

#nav_container1 #p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald-Regular';
    font-size: 16px;
    color: #888;
}

#nav_container2 #p{
    width: 50%;
    margin-left: 20px;
    font: 13px/20px "Lucida Grande",Tahoma,Verdana,sans-serif;
    color: rgb(64, 64, 64);
    font-size: 11px;
    font-weight: bold;
    color: rgb(88, 104, 120);
    text-decoration: none;
    text-shadow: 0px 1px white;
    white-space: nowrap;
    text-shadow: 0px 1px 0px white;
}

#nav_container3{
    height: 32px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, rgb(216, 222, 229), rgb(191, 197, 204)) repeat scroll 0% 0% rgb(37, 155, 219);
}

#nav_container3_bis{
    height: 100%;
    width: 100%;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 32px;
    vertical-align: middle;
    
}

#nav_container3 #p{
    margin: auto;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    color: rgb(88, 104, 120);
    text-shadow: 0px 1px rgba(255, 255, 255, 1);
    /*height: 100%;*/
}


#nav_container3 a:hover{
    text-decoration: none;
}

#content{
    display: inline-block;
    float: right;
    width: 85%;
    height: 100%;
    min-height: 600px;
    box-shadow: 0px 2px 2px #888;
}

[class^="icon-"] {
margin-top: 0px;
margin-right: 5px;
}

/*List Style*/

.nav{
    margin-bottom: 0px;
}

.nav-pills.nav-stacked > li > a {
border-bottom: 1px dotted rgb(204, 204, 204);
}


.nav-pills.nav-stacked > li:last-child > a {
    border-bottom: none;
}

.nav i{
    font-size: 1.3em;
}


/*Test*/





blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 80px auto;
  padding: 8px;
  width: 260px;
  font: 10px/18px "Lucida Grande", Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

.coloc-name-container {
  width: 100%;
  text-align: center;
}
.coloc-name-container #user {
  text-align: left;
}

#user {
  padding: 8px 0px 8px 0px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#user img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  margin-left: 0px;
  margin-top: auto;
}
#user h5 {
  float: left;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  margin-top: 8px;
  margin-bottom: auto;;
}
#user h5 small {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #364168;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

/* --- Feedback Form --- */

#feedback-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    font-family: 'Oswald-regular';
}