{# src/Clc/DashboardBundle/resources/views/default/additemmodal.html.twig #}

<!DOCTYPE html>

<div class="modal hide fade" id="additemmodal" area-hidden="true">

    <div class="modal-header">
        <h3>Add a new shopping list item</h3>
    </div>

    <div class="modal-body">
        <form>
            <label>Item description</label>
            <input type="text" class="span4"/><br>
            <label>Categorie</label>
            <input type="text" class="span4"/><br>
            <button type="submit" class="btn btn-success">Add item</button>
            <button type="reset" class="btn">Clear</button>
        </form>

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" area-hidden="true">Close</button>
    </div>
    
</div>