{# src/Clc/Resources/views/Feedback/feedback.html.twig #}

<div id="feedback-box">
    
    {% if app.user.coloc == null %}
    
    {% else %}
    
        {% render "ClcUserBundle:User:feedback" %}
    
    {% endif %}
    
</div>