{# src/Clc/ExpensemanagerBundle/Resources/views/layout.html.twig #}
 
{% extends "::base.html.twig" %}
 
{% block title %}
  {{ parent() }} - To-dos
{% endblock %}
 
{% block body %}
  
  <div id="todos-content">
      
      <div id="todos-table1-container">
          <table id="table1" class="table">
            <caption>My to-dos</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Comment</th>
                <th>Who</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mar 18</td>
                <td>Call the electrician</td>
                <td>number = 789 654 232</td>
                <td>John</td>
              </tr>
            </tbody>
          </table>
      </div>
          
      <div id="todos-table2-container">
          <table id="table2" class="table">
            <caption>My to-dos</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Comment</th>
                <th>Who</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mar 18</td>
                <td>Call the electrician</td>
                <td>number = 789 654 232</td>
                <td>John</td>
              </tr>
            </tbody>
          </table>
      </div> 
      
  </div>
  
{% endblock %}